.App {
  text-align: left;
}

.App li{
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding:3px;
}

h2{
    margin-left: 2rem;
    color: #456;
}

table tr:nth-child(n){
    background: rgba(204,204,204,0.63);
}

table td {
    max-width: 900px;
    overflow-y: hidden;
}
select option {
    float: left;
    width: 200px;
    border: 2px solid #60a1ec;
    box-shadow: 3px 1px 1px #ccc;
    padding: 5px;
    font-size: 15pt;
    margin: 2px;
}
select option:hover {
    color: rgb(95,156,45);
    cursor: pointer;
}

select {
    max-height: 600px;
}

/* for categories*/
table.teal tr {
    float: left;
    min-width: 200px;
}
table.teal tr td:first-child {
    min-width: 100px;
}

/* home menu*/
div.menu{
    background: rgba(27,48,122,0.26)!important;
}

div.vertical.menu{
    overflow-y: auto;
    height: 1000px;
}

div.vertical.menu a {
    border: 1px solid #ccc!important;
    margin: 2px;   
    border-radius: 3px;
    background: rgba(215,249,207,0.44)!important;
    width: 196px;
    font-weight: bold!important;
}

div.vertical.menu .active.item {
    background: rgba(52,189,234,0.77)!important;
    color: #fdfdfb;
}
