.App {
  text-align: left;
}

.App li{
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding:3px;
}

h2{
    margin-left: 2rem;
    color: #456;
}

table tr:nth-child(n){
    background: rgba(204,204,204,0.63);
}

table td {
    max-width: 900px;
    overflow-y: hidden;
}

div.grouped option {
    width: 150px;
    border: 2px solid #60a1ec;
    box-shadow: 3px 1px 1px #ccc;
    padding: 3px;
    font-size: 12pt;
}
select option:hover {
    color: rgb(95,156,45);
    cursor: pointer;
}

select {
    max-height: 1200px;
}

/* for categories*/
table.teal tr {
    float: left;
    min-width: 200px;
    border-radius: 5px;
    margin:2px;
}

table.teal tr td:first-child {
    min-width: 100px;
}

/* for categories */

/* home menu*/
div.vertical.menu{
    overflow-y: auto;
    width: 120px!important;
}

div.vertical.menu a {
    border-radius: 3px;
    background: rgba(207,231,249,0.85)!important;
    font-weight: bold!important;
}

div.vertical.menu .active.item {
    background: rgba(110,156,190,0.75)!important;
    color: #000;
    border-right: 2px solid #000
}
/* home menu */

/* for addbookmarks */

ul.addbookmark_categories {
    list-style-type: none;
    padding: 3px;
    height: 220px;
    width: 700px;
}

ul.addbookmark_categories li {
    float: left;
    padding: 3px;
    min-width: 120px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin: 1px;
}
ul.addbookmark_categories li:hover {
    background: #ccc;
    cursor: pointer;
}

li.active {
    background: rgb(158, 181, 205);
}



/* end add bookmarks*/