.App {
  text-align: left;
}

.App li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  padding: 3px;
}

h2 {
  margin-left: 2rem;
  color: #456;
}

/* main */
body {
  margin: 30px !important;
}

div.main td a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(17, 17, 17, 0.625);
  font-size: 11pt;
}
div.main td a:hover {
  color: #2870c2;
}
/* main */

/* home menu*/
/* div.main {
  margin-left: -420px;
  width: 90%;
} */
div.vertical.menu {
  overflow-y: auto;
}
/* div.vertical.menu.first {
  margin-left: 10px;
}
div.vertical.menu.second {
  margin-left: -140px;
}

div.vertical.menu.third {
  margin-left: -290px;
} */


div.vertical.menu a {
  border-radius: 3px;
  background: rgba(231, 242, 250, 0.74) ;
  font-weight: bold !important;
}
div.vertical.menu a:hover {
  background: rgba(110, 156, 190, 0.43) !important;
}

div.vertical.menu .active.item {
  background: rgba(110, 156, 190, 0.75) !important;
  color: #ffffff;
}
div.vertical.menu .active.item:hover {
  color: #fff !important;
  cursor: default;
}
div.column{
  padding:0 4px!important;
}

/* home menu */

/* Login */
div.login-form {
  margin-top: 10%;
  width: 20% !important;
  border: 1px solid rgba(204, 204, 204, 0.35);
  padding: 15pt;
  height: 130pt;
}
/* Login*/

table tr:nth-child(n) {
  background: rgba(204, 204, 204, 0.249);
}

table td {
  max-width: 900px;
  overflow-y: hidden;
}

div.grouped option {
  width: 150px;
  border: 2px solid #60a1ec;
  box-shadow: 3px 1px 1px #ccc;
  padding: 3px;
  font-size: 12pt;
}
select option:hover {
  color: rgb(95, 156, 45);
  cursor: pointer;
}

select {
  max-height: 1200px;
}

/* for categories*/
table.teal tr {
  float: left;
  min-width: 200px;
  border-radius: 5px;
  margin: 2px;
}

table.teal tr td:first-child {
  min-width: 100px;
}
table td a:hover {
  color: rgb(7, 55, 109)!important;
}

/* for categories */

/* for addbookmarks */

ul.addbookmark_categories {
  list-style-type: none;
  padding: 3px;
  width: 100%;
  height: 350px;
}

ul.addbookmark_categories li {
  float: left;
  padding: 3px;
  min-width: 120px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 1px;
  background-color: #ccc;
}

ul.addbookmark_categories li.active{
  background-color: #2870c2;
  color: #fff;
}
ul.addbookmark_categories li:hover {
  background: #2870c2;
  color:#fff;
  cursor: pointer;
}

ul.addbookmark_categories1 {
  list-style-type: none;
  padding: 3px;
  width: 100%;
  height: 280px;
}

div.addbookmark_categories1 {
  float: left;
}

ul.addbookmark_categories1 li {
  float: left;
  padding: 3px;
  min-width: 120px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 1px;
}
ul.addbookmark_categories1 li:hover {
  background: #ccc;
  cursor: pointer;
}


li.active {
  background: rgb(158, 181, 205);
}

select.bookmark-option {
  height: 30px;
}

/* end add bookmarks*/

/* for dark mode */
body {
  background-color: #456!important;
}
.main ,  div.main table{
  background-color: rgba(68, 85, 102, 0.394)!important;
}

table td a {
  color: rgb(30, 96, 68)!important;
}
.main h2 {
  color: #ccc;
}

div.ui.pagination {
  background-color: rgba(204, 204, 204, 0.167)!important;
}

div.row div div{
  background-color: #ebebeb!important;
}

div.vertical.menu {
  background-color:  rgba(68, 85, 102, 0.394)!important;
  border-color: #ccc;
}

div.vertical.menu .item {
  color: rgba(197, 205, 213, 0.96);
  border-bottom:1px solid #ccc;
}

h2.subcat{
  padding: 3px;
  color: #456;
  background-color: #ccc;
}

div.modal .header {
  background-color: #ccc!important;
}

.activedragover {
  background-color: #60a1ec!important;
}